@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$position: absolute
$center_align: center
$font_roboto: 'Roboto', sans-serif
$black_color: #000
$white_color: #fff

@mixin hover_code()
        &:hover
            animation: changing__color_of_button 0.3s linear forwards

@mixin nav_bar_buttons()
        @include hover_code()
        padding: 5px
        font-family: $font_roboto
        font-size: 24pt
        position: $position
        width: 241px
        height: 55px
        background: $black_color
        border: 2px solid $white_color
        box-sizing: border-box
        color: $white_color
        text-align: $center_align
        align-items: $center_align
        top: 29px

header
    position: $position 
    width: 1510px   
    height: 107px
    left: 0px
    top: 0px
    background: $black_color

.logo
    position: $position
    width: 206px
    height: 53px
    left: 47px
    top: 35px
    font-family: $font_roboto
    font-style: normal
    font-weight: 700
    font-size: 36px
    line-height: 42px
    align-items: center
    text-align: $center_align
    color: $white_color

.Main_page_button
    @include nav_bar_buttons()
    left: 281px

.Catalog_page_button
    @include nav_bar_buttons()
    left: 647px

.About_Us_page_button
    @include nav_bar_buttons()
    left: 1028px
