@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
a {
  text-decoration: none;
}

header {
  position: absolute;
  width: 1510px;
  height: 107px;
  left: 0px;
  top: 0px;
  background: #000;
}

.logo {
  position: absolute;
  width: 206px;
  height: 53px;
  left: 47px;
  top: 35px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #fff;
}

.Main_page_button {
  padding: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 24pt;
  position: absolute;
  width: 241px;
  height: 55px;
  background: #000;
  border: 2px solid #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 29px;
  left: 281px;
}

.Main_page_button:hover {
  -webkit-animation: changing__color_of_button 0.3s linear forwards;
          animation: changing__color_of_button 0.3s linear forwards;
}

.Catalog_page_button {
  padding: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 24pt;
  position: absolute;
  width: 241px;
  height: 55px;
  background: #000;
  border: 2px solid #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 29px;
  left: 647px;
}

.Catalog_page_button:hover {
  -webkit-animation: changing__color_of_button 0.3s linear forwards;
          animation: changing__color_of_button 0.3s linear forwards;
}

.About_Us_page_button {
  padding: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 24pt;
  position: absolute;
  width: 241px;
  height: 55px;
  background: #000;
  border: 2px solid #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 29px;
  left: 1028px;
}

.About_Us_page_button:hover {
  -webkit-animation: changing__color_of_button 0.3s linear forwards;
          animation: changing__color_of_button 0.3s linear forwards;
}

.About_Music {
  position: absolute;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: justify;
  color: #000;
  width: 733px;
  height: 252px;
  left: 124px;
  top: 162px;
}

.Musical_Instruments {
  position: absolute;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: justify;
  color: #000;
  width: 588px;
  height: 252px;
  left: 865px;
  top: 470px;
}

.About_Store {
  position: absolute;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: justify;
  color: #000;
  width: 588px;
  height: 334px;
  left: 88px;
  top: 851px;
}

.Photo_1 {
  position: absolute;
  width: 317px;
  height: 310px;
  left: 1000px;
  top: 133px;
}

.Photo_2 {
  position: absolute;
  width: 650px;
  height: 263px;
  left: 88px;
  top: 473px;
}

.Photo_3 {
  position: absolute;
  width: 626px;
  height: 418px;
  left: 738px;
  top: 776px;
}

@-webkit-keyframes changing__color_of_button {
  0% {
    background: #000;
    color: #fff;
  }
  100% {
    background: #fff;
    color: #000;
  }
}

@keyframes changing__color_of_button {
  0% {
    background: #000;
    color: #fff;
  }
  100% {
    background: #fff;
    color: #000;
  }
}
/*# sourceMappingURL=Main_page.css.map */