@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
*::after,
*::before 
    padding: 0
    margin: 0


.Logo
    margin-top: 2%
    padding-right: 20% 
.Main_Page_Button,
.About_Us_Button,
.Catalog_Page_Button,
    padding: 5%
    border: 2px solid #fff
    background: #000
    color: #fff
    &:hover
        animation: Navbar_Buttons_Animations 0.5s linear forwards
.Container
    font-size: 28px
    grid-row-gap: 10%
    font-family: 'Roboto', sans-serif
    display: grid
    height: 100vh
    grid-template-columns: repeat(3, 1fr)
    grid-template-rows: 15vh 1.5fr 1fr 1fr

header
    width: 100vw
    border-bottom: 2px solid #000
    grid-column-start: 1
    grid-column-end: 5
    display: grid
    align-content: center
    text-align: center
    grid-template-columns: repeat(4, 25%)

nav
    padding-right: 7% 
    grid-column-start: 1
    grid-column-end: 5
    display: grid
    align-content: center
    text-align: center
    grid-template-columns: repeat(4, 25%)
a   
    color: #fff
    text-decoration: none
    width: 80%
    height: 50%
    &:hover
        animation: Navbar_Buttons_Animations 0.5s linear forwards
img
    width: 475px
    height: 85%
iframe
    margin: auto
    padding-top: 1% 
figure
    margin: auto
    text-align: center


#First_Text
    display: flex
    align-items: center
    grid-column-start: 1
    grid-column-end: 4
    padding: 1% 2% 2% 2%
#Second_Text
    display: flex
    flex-wrap: wrap
    text-align: center
    grid-columm-start: 2
    grid-column-end: 3
#Contacts_Section
    display: flex
    flex-wrap: wrap
    text-align: center
    margin: auto
    grid-column-start: 2
    grid-column-end: 3
    border-bottom: 2px solid #00A6DA
#Icons
    display: grid
    padding-bottom: 5%
    grid-column-start: 1
    grid-column-end: 4
    grid-template-columns: (repeat(3, 1fr))
#Phone,
#Gmail,
#Telegram
    width: 128px
    height: 128px
        

@keyframes Navbar_Buttons_Animations
    0%
        background: #000
        color: #fff
    100%
        border: 2px solid #000
        background: #fff
        color: #000


@media screen and ( max-width:  800px)
    .Container
        font-size: 28px
        grid-row-gap: 2%
        font-family: 'Roboto', sans-serif
        display: grid
        height: 100vh
        grid-template-columns: 100%
        grid-template-rows: repeat(4, 0.1fr)
    .Logo
        padding: 0
        margin: auto
    .Main_Page_Button,
    .About_Us_Button,
    .Catalog_Page_Button
        padding: 5% 0
        width: 100vw
        margin: auto
        text-align: center
    header
        grid-template-columns: 100%
        margin-top: 4%
        padding-right: 0
        padding-bottom: 0
        grid-column-start: 1
        grid-column-end: 2
    nav
        grid-template-columns: 100%
        margin-top: 4%
        padding-right: 0
        padding-bottom: 0
        grid-column-start: 1
        grid-column-end: 2
    #First_Text
        width: 100vw
        padding: 0
        flex-wrap: wrap
    #Main_Photo
        margin: auto
        width: 95%
        height: 50%
    #Second_Text
        display: flex
        padding-top: 5%
        grid-columm-start: 1
        grid-column-end: 2
    #Contacts_Section
        padding-top: 5% 
        grid-column-start: 1
        grid-column-end: 2
    #Icons
        display: block
        padding-bottom: 5%
    #Phone,
    #Gmail,
    #Telegram
        padding-top: 5%
@media screen and ( max-width: 400px)
    #Main_Photo
        width: 95%
        height: 40%

    
